<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Inicio" color="rojo_mmg" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Historial" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Sincronizar" tabIcon="wifi"></ion-tab>
</ion-tabs>
