<!--
  Generated template for the InspeccionzonaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rojo_mmg">
    <ion-title>SH012: STICK</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
	<ion-card>
	  <ion-card-content>
	    <img src="assets/img/6060fs_zonas_stick.jpg" alt="">
	  </ion-card-content>
	</ion-card>	
	
	<ion-card>
		<ion-card-header color="rojo_mmg">Inspección por zonas</ion-card-header>
		<ion-list *ngFor="let insp of ListaInspecciones">
			<button ion-item (click)="goToPage_DetZona(insp.id)">
				<ion-label>{{insp.orden}}  - {{insp.zona}} 
				<ion-icon name="{{insp.icono}}"></ion-icon>
				<!-- <ion-icon name="alert" ></ion-icon>
				<ion-icon name="close-circle" ></ion-icon>
				<ion-icon name="arrow-dropright-circle" ></ion-icon> -->
				</ion-label>
			</button>
		</ion-list>

	
	</ion-card>
</ion-content>
