$verde : #89ce4b;
$amarillo : #ece04e;
$rojo : #f15959;
$gris : #aaa;

page-inspeccionzona {
	ion-title{
		font-size:0.8em !important;
		color:#ff0000;

	}
	ion-icon
	{
		float : right;
	}
	ion-icon[ng-reflect-name="checkmark-circle"]{color:$verde !important;}
	ion-icon[ng-reflect-name="close-circle"]	{color:$rojo !important;}
	ion-icon[ng-reflect-name="alert"] {color:$amarillo !important;}
	ion-icon[ng-reflect-name="arrow-dropright-circle"] {color:$gris !important;}
	ion-card-header{
	font-size:1.5em !important;
	}
}
