page-fisura {

	.normal{
		background: #a5e48c !important;
	}
	.seguimiento
	{
		background: #ffdc8a !important;
	}
	.critico
	{
		background: #ff8a8a !important;
	}
	.label-normal{
		background: #a5e48c;
	    padding-left: 0.5em;
	    color: rgba(0,0,0,0.4);
	    font-weight: bold;
	        border-radius: 0.5em 0 0 0.5em;
	        text-align:center;
	}
	.label-segu
	{
		background: #ffdc8a;
	    padding-left: 0.5em;
	    color: rgba(0,0,0,0.4);
	    font-weight: bold;
	    text-align:center;
	}
	.label-critico
	{
		background: #ff8a8a;
	    padding-left: 0.5em;
	    color: rgba(0,0,0,0.4);
	    font-weight: bold;
	        border-radius: 0  0.5em 0.5em 0;
	        text-align:center;
	}
	.actions{
		text-align:right;
	}
	.item-radio-checked.item-md ion-label {
    color: #000 !important;
		}
}
