<!--
  Generated template for the FisuraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rojo_mmg">
    <ion-title>Nueva Fisura en Stick</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-list radio-group [(ngModel)]="model.tipo">
	  <ion-item>
	    <ion-label>Nueva fisura</ion-label>
	    <ion-radio checked="true" value="n"></ion-radio>
	  </ion-item>

	  <ion-item>
	    <ion-label>Reaparece</ion-label>
	    <ion-radio value="r"></ion-radio>
	  </ion-item>

	</ion-list>
	<ion-item>
		<ion-label floating>Número</ion-label>
		<ion-input type="text" [(ngModel)]="model.nombre"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label floating>Longitud (mm)</ion-label>
		<ion-input type="number" [(ngModel)]="model.long"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label floating>Observaciones </ion-label>
		<ion-input type="text" [(ngModel)]="model.observacion"></ion-input>
	</ion-item>


	<!-- <ion-item>
		<ion-label floating>Observaciones</ion-label>
		<ion-input type="string" [(ngModel)]="model.observacion"></ion-input>
	</ion-item> -->


		<ion-label >Condición</ion-label>

		<ion-list ion-row radio-group [(ngModel)]="model.condicion">
		  <ion-item col-4 class="label-normal">
		    <ion-label >Normal</ion-label>
		    <ion-radio value="normal" ></ion-radio>
		  </ion-item>
		  <ion-item col-4 class="label-segu">
		    <ion-label>Seguimiento</ion-label>
		    <ion-radio value="seguimiento"></ion-radio>
		  </ion-item>
		  <ion-item col-4 class="label-critico">
		    <ion-label  >Crítico</ion-label>
		    <ion-radio value="critico"></ion-radio>
		  </ion-item>
		</ion-list>
		<ion-label color="rojo_mmg">
			Ubicación:
		</ion-label>
			<img src="assets/img/6060fs_zona1_stick.jpg" alt="">

		



	<div class="actions">
		<button ion-button (click)="save()"> Guardar</button>
	</div>

</ion-content>
