page-detinspzona {
	
	
	ion-card.disable
	{
		background:#4e4e4e !important;
		color:#777 !important;
		ion-card-header
		{
			
			color:#FFF !important;
		}
	}
	
	button.new
	{
		bottom: 0.5em !important;
		right:0.5em !important;
	}
	button.lista-item
	{
		border-bottom:1px solid #f3bac9    !important;
		padding-left:0 !important;
		ion-icon{
		float:right;
		}
	}
	
	.fr
	{
	float:right !important;
	}
	.fz_17
	{
	    font-size: 1.7em;
	}
	.titulo2
	{
	font-weight: bold;
    font-size: 1.4em;
	}
	.btn_addfis
	{
				position: fixed !important;
		    bottom: 4.5em !important;
		    right: 7em !important;
	}
	.btn_addpic
	{
	position: fixed !important;
    bottom: 4.5em !important;
    right: 2em !important;
	}
	.fc_0
	{
	color: #000 !important;
	}
	.p0
	{
		padding: 0 !important;
	}
}
