<!--
  Generated template for the DetinspzonaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header >


  <ion-navbar color="rojo_mmg">

    <ion-title>SH012:{{det_inspZona?.orden}} {{det_inspZona?.zona}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	

	<ion-card>
	  <ion-card-content>
	    <img src="assets/img/6060fs_zona1_stick.jpg" alt="">
	  </ion-card-content>
	</ion-card>	
		<ion-card class="disable">
		
		  <ion-card-header>
		    INSPECCIÓN ANTERIOR
		    <ion-badge class="fr" color="{{det_inspZona?.estado_previo}}">{{det_inspZona?.fecha}} </ion-badge>
		  </ion-card-header>	
		</ion-card>

	

		<ion-card>
		
		  <ion-card-header>
		    INSPECCIÓN ACTUAL
		    <button class="fr p0" (click)="presentModal()" clear><ion-badge  color="light"> 2017-10-12 </ion-badge></button>
		  </ion-card-header>
		
		  <ion-card-content>
		
		    
		    		
			<ion-label color="rojo_mmg" class="fz_17"> Fisuras</ion-label>


			
			  <ion-segment color="rojo_mmg" [(ngModel)]="tipo_fisura">
			    <ion-segment-button color="rojo_mmg" value="existentes" activated>
			      Existentes
			    </ion-segment-button>
			    <ion-segment-button color="rojo_mmg" value="nuevas" >
			      Nuevas
			    </ion-segment-button>
			    
			  </ion-segment>
			

			<div [ngSwitch]="tipo_fisura">
			  <ion-list *ngSwitchCase="'nuevas'">
			    <ion-list *ngFor="let fisura of ListaFisuras_nuevas">
			        <button ion-item clear class="lista-item" (click)="gotoPage_editFisura(fisura.id)">	
			        	<ion-icon name="{{fisura.icono}}"></ion-icon>
			        	<ion-badge col-4 color="{{fisura.condicion}}" class="fc_0">{{fisura.nombre}}={{fisura.long}}mm</ion-badge>
			        	{{fisura.observacion}}
			        	
			        	<!-- <button><ion-icon name="close-circle"> No se inspeccionó</ion-icon> </button> -->
			        </button>
			    </ion-list>
			  </ion-list>

			  <ion-list *ngSwitchCase="'existentes'">
			  <ion-list *ngFor="let fisura of ListaFisuras_exis">
			      <button ion-item clear class="lista-item" (click)="gotoPage_editFisura(fisura.id)">
			      	<ion-icon name="{{fisura.icono}}"></ion-icon>
			      	<ion-badge col-4 color="{{fisura.condicion}}" class="fc_0">{{fisura.nombre}}={{fisura.long}}mm</ion-badge>
			      	{{fisura.observacion}}
			      	
			      	<!-- <button><ion-icon name="close-circle"> No se inspeccionó</ion-icon> </button> -->
			      </button>
			  </ion-list>
			   
			  </ion-list>
			</div>


			
			
			

			<ion-label color="rojo_mmg" class="fz_17"> Fotografías zona</ion-label>





			<ion-fab class="btn_addfis"  mini  ><button ion-fab color="naranja_mmg"  (click)="gotoPage_nuevaFisura(det_inspZona.id)"> <ion-icon name="add"></ion-icon> </button></ion-fab>
			<ion-fab class="btn_addpic"  mini><button ion-fab color="naranja_mmg" > <ion-icon name="camera"></ion-icon> </button></ion-fab>
		    
		   


		  </ion-card-content>
		
		</ion-card>
	
	
			
		
		


		
	


	

</ion-content>
