<!--
  Generated template for the FisuradetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  
  <ion-navbar color="rojo_mmg"  showBackButton="true">
    <ion-title>Detalle de fisura {{fisuraActual?.nombre}} </ion-title>
  </ion-navbar>
  
</ion-header>

<ion-content  *ngIf="fisuraActual" >
 <ion-card color="dark2">
 
   
   <ion-card-content>
     <ion-row>
       <ion-col col-4> Equipo </ion-col>
       <ion-col col-8>: SH012 </ion-col>
     </ion-row>
     <ion-row>
       <ion-col col-4> Componente </ion-col>
       <ion-col col-8>: STICK </ion-col>
     </ion-row>
     <ion-row>
       <ion-col col-4> Zona </ion-col>
       <ion-col col-8>: PLANCHA SUPERIOR </ion-col>
     </ion-row>
   </ion-card-content>
 
 </ion-card>


<ion-card>

  <ion-card-content>
    
    <ion-label color="rojo_mmg" class="fz_15">Inspección anterior</ion-label>
    

    <ion-row>
      <ion-col col-4>
        <strong> {{fisuraActual.nombre}}={{longAnterior}}mm</strong> 
      </ion-col>
      <ion-col col-8>
      : <ion-badge color="{{condicionAnterior}}"> {{fechaAnterior}} - {{condicionAnterior}}</ion-badge>
      </ion-col>
    </ion-row>

      <ion-row>
        <ion-col col-4>
          <span> Obs</span> 
        </ion-col>
        <ion-col col-8>
       : {{observacionAnterior}}
        </ion-col>
      </ion-row>
      <ion-row>
        
   
      
      </ion-row>
  </ion-card-content>

</ion-card>
       
 <ion-card>
 
   <ion-card-content>
     <ion-label color="rojo_mmg" class="fz_15">Inspección actual</ion-label>

     <ion-row>
       <ion-col col-4>
         <strong> {{fisuraActual.nombre}}={{fisuraActual.long}}mm</strong> 
       </ion-col>
       <ion-col col-8>
       : <ion-badge color="{{fisuraActual.condicion}}">{{fisuraActual.fl_insp=='false' ? fisuraActual.fecha+'  No inspeccionado' : fisuraActual.fecha + '-' +fisuraActual.condicion}}</ion-badge>
       </ion-col>
     </ion-row>
         
         <ion-row radio-group [(ngModel)]="fisuraActual.fl_insp">
           <ion-col col-4> ¿Realizado?</ion-col>
           <ion-col col-4>
           : <span class="va_m">Si</span>
             <ion-radio  class="va_m" value="true"></ion-radio>
           </ion-col>
           <ion-col col-4>
             <span class="va_m">No</span>
             <ion-radio color="red" class="va_m" checked="true" value="false"></ion-radio>
           </ion-col>
         </ion-row>

      
      <ion-row>
           <ion-col col-12>
           <ion-item class="pl_0">
             <ion-label floating>Fecha</ion-label>
             <ion-input type="date" disabled="{{fisuraActual.fl_insp == 'false'? 'true':'false' }}" [(ngModel)]="fisuraActual.fecha" ></ion-input>
           </ion-item>
           </ion-col>
         </ion-row>

         <ion-row>
           <ion-col col-12>
           <ion-item class="pl_0">
             <ion-label floating>Nueva longitud(mm)</ion-label>
             <ion-input type="number" disabled="{{fisuraActual.fl_insp == 'false'? 'true':'false' }}"  [(ngModel)]="fisuraActual.long" ></ion-input>
           </ion-item>
           </ion-col>
         </ion-row>

          <ion-row>
           <ion-col col-12>
           <ion-item class="pl_0">
             <ion-label floating>Observaciones</ion-label>
             <ion-input type="text" disabled="{{fisuraActual.fl_insp == 'false'? 'true':'false' }}"  [(ngModel)]="fisuraActual.observacion" ></ion-input>
           </ion-item>
           </ion-col>
         </ion-row>
         <ion-row>
           <ion-col col-12>
           <ion-label >Condición</ion-label>
           <ion-list ion-row radio-group [(ngModel)]="fisuraActual.condicion" >
             <ion-item col-4 class="label-normal">
               <ion-label >Reparado</ion-label>
               <ion-radio value="reparado" disabled="{{fisuraActual.fl_insp == 'false'? 'true':'false' }}"></ion-radio>
             </ion-item>
             <ion-item col-4 class="label-segu">
               <ion-label>Seguimiento</ion-label>
               <ion-radio value="seguimiento" disabled="{{fisuraActual.fl_insp == 'false'? 'true':'false' }}"></ion-radio>
             </ion-item>
             <ion-item col-4 class="label-critico">
               <ion-label  >Crítico</ion-label>
               <ion-radio value="critico" disabled="{{fisuraActual.fl_insp == 'false'? 'true':'false' }}"></ion-radio>
             </ion-item>
           </ion-list>
        </ion-col>  
         </ion-row>
           <ion-row>
           <ion-col col-12>
           <ion-label >Fotos</ion-label>
           <img [src]="imagen" alt="" *ngIf="imagen">
        </ion-col>
         </ion-row>

         
        <button ion-button (click)="guardar_editFisura()" >Guardar</button>
         <button ion-button (click)="getFoto()"> <ion-icon name="camera"></ion-icon> </button>
   </ion-card-content>
 
 </ion-card>
</ion-content>
