page-fisuradet {
		.fz_15
		{
		    font-size: 1.5em;
		}
		.va_m
		{
		vertical-align:middle;
		}
		.pl_0
		{
		padding-left:0 !important;
		}
		.label-normal,.label-reparado{
			background: #a5e48c;
		    padding-left: 0.5em;
		    color: rgba(0,0,0,0.4);
		    font-weight: bold;
		        border-radius: 0.5em 0 0 0.5em;
		        text-align:center;
		}
		.label-segu
		{
			background: #ffdc8a;
		    padding-left: 0.5em;
		    color: rgba(0,0,0,0.4);
		    font-weight: bold;
		    text-align:center;
		}
		.label-critico
		{
			background: #ff8a8a;
		    padding-left: 0.5em;
		    color: rgba(0,0,0,0.4);
		    font-weight: bold;
		        border-radius: 0  0.5em 0.5em 0;
		        text-align:center;
		}
		.item-radio-checked.item-md ion-label {
	    color: #000 !important;
			}
}
